body {
    background: white;
}
p {
    color:black;
    font-family: sans-serif;
    font-size: 20px;
    height: 200px;
}
#imgage1{
    float: right;
    height: 200px;
    border: 5px solid;
    width: 150px;
}
ul{
    font-family: sans-serif;
}
#mainpagenav{

    float:left;
    width: 110px;
    border-radius: 2px;
    display:block;
    border: 2px solid;
    margin-right: 50px;
    background-color: skyblue;
    height: 100%;
    padding: 30px;
}
#contentnav{
    background-color: skyblue;
    border: 2px solid;
    height: 110px;
    width: 150px;
    padding: 30px;
    float: right;
}

th{
    background-color:khaki;
    font-family: sans-serif;
}
#infobox{
    box-shadow: 1px black;
    border: 1px rgb(20 , 1 , 1);
    float: right;
    width: 200px;
    margin-left: 15px;
    padding: 12px;
    height: 20px;
}
#header{
    margin: 0px;
    height: 50px;
    padding: 20px;
}
#main{
    height: 50%;
}
#footer{
    height: 50%;
}
#content{
    
    float: left;
    padding: 30px;
}
#content1{
    padding: 30px;
    float: left;
}
#content2{
    padding: 30px;
    float: left;
}
#content3{
    padding: 30px;
    float: left;
}
#seealso{
    background-color: white;
    float: left;
    padding: 30px;
}